body {
    background-color: #9DCF97;
    margin: 0;
    font-family: "Niconne", cursive;
}

a.button {
    font-family: "Niconne", cursive;
    transition-duration: 0.9s;
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    background-color: #377437;
    border-radius: 12px;
}

a.button:hover {
    background-color: #275827;
    cursor: pointer;
}

a {
    color: #172e17;
    transition-duration: 1s;
    text-decoration: none;
}

h1 {
    font-size: 45px;
}

.page-wrapper {
    margin-top: 115px;
}

.spacer-20 {
    height: 20px;
}