.page-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 75px;
    margin-top: 10px;
    margin-right: 175px;
    margin-bottom: 40px;
}

.page-wrapper > .page-img-wrapper {
    margin-right: 50px;
}

.page-wrapper > .page-img-wrapper img {
    height: 500px;
}

.page-wrapper > .page-text-wrapper > .page-body-wrapper {
    font-size: 30px;
}

.page-wrapper > .page-text-wrapper > .page-body-wrapper img {
    width: 100%;
}

.back-button {
    font-size: 30px;
    color: rgb(59, 59, 59);
}

.back-button img {
    width: 50px;
    margin-top: 10px;
    margin-left: 20px;
}

.page-text-wrapper {
    margin-top: -25px;
}

.back-button-wrapper {
    margin-top: 115px;
}