.navbar-wrapper {
    background-color: #437A48;
    display: flex;
    justify-content: flex-start;
    height: 115px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-wrapper > .img-wrapper img {
    height: 110px;
    margin-left: 10px;
    margin-top: 3px;
}

.navbar-wrapper > .link-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
}

.navbar-wrapper > .link-wrapper > .navlink {
    margin: 25px;
    margin-top: 40px;
}

.navbar-wrapper > .link-wrapper > .navlink a {
    font-size: 50px;
    color: #1E441E;
}

.navbar-wrapper > .link-wrapper > .navlink a:hover {
    color: #132b13;
    cursor: pointer;
}

@media (max-width: 700px) {
    .navbar-wrapper {
        height: 70px;
    }

    .navbar-wrapper > .img-wrapper img {
        height: 65px;
    }

    .navbar-wrapper > .link-wrapper > .navlink a {
        font-size: 20px;
    }

    .navbar-wrapper > .link-wrapper > .navlink {
        margin: 5px;
        margin-bottom: 20px;
        margin-top: 30px;
    }
}