.navbar-wrapper {
    background-color: azure;
    display: flex;
    justify-content: flex-start;
    height: 115px;
}

.navbar-wrapper > .img-wrapper img {
    height: 100px;
    margin-left: 10px;
}

.navbar-wrapper > .link-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
}

.navbar-wrapper > .link-wrapper > .navlink {
    margin: 10px;
    margin-top: 40px;
}

.navbar-wrapper > .link-wrapper > .navlink a {
    font-size: 50px;
    color: orange;
    transition-duration: 1s;
    text-decoration: none;
}

.navbar-wrapper > .link-wrapper > .navlink a:hover {
    color: rgb(145, 80, 0);
    cursor: pointer;
}